<manifest
    package="ru.yandex.subtitles"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".SubtitlesApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Subtitles">

        <activity
            android:name=".ui.activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.QuickStartActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>

        <activity
            android:name=".ui.activity.QuestionnaireActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity
            android:name=".ui.activity.SettingsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity
            android:name=".ui.activity.ConversationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.ConversationsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <service
            android:name=".service.PhrasesService"
            android:exported="false"/>

        <receiver android:name=".service.cache.ConnectivityChangeBroadcastReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".service.MessagingService"
            android:exported="false"/>

        <provider
            android:name=".content.provider.MessengerContentProvider"
            android:authorities="${applicationId}.contentprovider"
            android:enabled="true"
            android:exported="false"/>

        <receiver
            android:name=".ui.appwidget.QuickStartWidget"
            android:label="@string/widget_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="${applicationId}.QuickStartWidget.ACTION_START_CONVERSATION"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_start_conversation"/>
        </receiver>

        <service
            android:name=".ui.appwidget.PhrasesAppWidgetRemoteService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

        <receiver
            android:name=".ui.appwidget.ListViewWidget"
            android:label="@string/widget_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="${applicationId}.AbstractAppWidget.ACTION_APPWIDGET_DATASET_CHANGED"/>
                <action android:name="${applicationId}.appwidget.ListViewWidget.ACTION_START_CONVERSATION"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_phrases"/>
        </receiver>

    </application>

</manifest>